/* ***************TAG SELECTOR***********************
*/
body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

a {
  color: #155263;
}

div {
  /*background-color: #FFC93C;*/
  margin: 0;
}

h1 {
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
  font-size: 5.625rem;
  color: #1A374D;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  margin: auto auto 0;
  font-size: 2rem;
  font-weight: normal;
  color: #1A374D;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  margin: 30px auto 0;
  color: #155263;
}

hr {
  margin: 1px;
  border: 0;
}

p {
  margin: auto;
}

/* ***************CLASS SELECTOR***********************
*/
.bottom-cloud {
  position: absolute;
}

.computer {
  height: 25%;
  width: 25%;
  margin: 20px 40px 20px auto;
  float: left;
}

.bottom-container {
  position: relative;
  background-color: #FF6F3C;
  margin: 0;
}

.middle-container {
  position: relative;
  background-color: #FF9A3C;
  margin: 0;
  padding-bottom: 40px;
}

.top-container {
  position: relative;
  padding-top: 100px;
  background-color: #FFC93C;
}

.profile-pic {
  height: 10%;
  width: 10%;
  margin-top: 20px;
}

.skills {
  margin: 40px auto 40px;
  text-align: left;
}

.skill-row {
  width: 50%;
  margin: 40px auto 0;
  text-align: left;
  line-height: 2;
}

.speak {
  height: 25%;
  width: 25%;
  margin: 20px auto 20 40;
  float: right;
}

.top-cloud {
  position: absolute;
  right: 30%;
  top: 10%;
}

.web {
  text-decoration: underline;
}

/* ***************ID SELECTOR***********************
*/
